@import url('https://fonts.googleapis.com/css2?family=Nunito');

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* MEDIA QUERY ----------------------------------------------------- */
@media screen and (max-width: 1200px) {
  #header-logo {
    display: none;
  }
  .page-content {
    background: linear-gradient(#efefef, #cecece);
  }
}
/* HEADER ---------------------------------------------------------- */
.page-header {
  height: 50px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.25s;

  color: #3B5943;
  background-color: #709a7f;
}

.header-container-left {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.header-container-right {
  margin-right: 10px;
}

.hamburger-button {
  font-size: 30px;
  cursor:pointer;
}

.logo {
  width: 25px;
  height: 25px;
  margin-bottom: 6px;
}

/* SIDE BAR -------------------------------------------------------- */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  padding-top: 10%;
  background-color: #ECEFF1;

  overflow-x: hidden;
  transition: 0.25s;
}

.sidebar a {
  padding: 12px 24px;
  color: #868585;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;

  display: block;
  transition: 0.25s;
}

.sidebar a:hover {
  color: #1f1f1f;
}

.sidebar .close-button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 40px;
}

/* MAIN ---------------------------------------------------------- */
.page-content {
  height: auto;
  width: 100vw;

  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 50px;
  transition: 0.25s;

  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 50px;

  background: linear-gradient(#f0f8f4, #c4d5c6);
}

.page-content > section {
  margin-top: 2%;
  margin-bottom: 2%;
}

/* WELCOME PAGE -------------------------------------------------- */
.welcome-page {
  width: 100%;
  min-height: 400px;

  border-radius: 5px;

  background-image: url("leaves-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-page-container {
  padding: 20px;
}

.welcome-page-container > p {
  color: beige;
  text-align: justify;
  font-size: large;
}

.description-tittle {
  color: beige;
}

/* TABLE OF CONTENT ---------------------------------------------- */
.content-table {
  height: auto;
  min-height: 840px;
  width: 100%;

  border-spacing: 0;
  border-radius: 5px;
  background: white;
  text-align: center;
  background: rgba(112, 154, 127, 0.4);

  padding-bottom: 20px;
}

tr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}
td {
  width: 100%;

}

.content-table > div {
  border-radius: 5px;
}

.table-row {
  display: inline-block;
  text-align: center;
}

.content-table tr:first-child td:first-child { border-top-left-radius: 5px; }
.content-table tr:first-child td:last-child { border-top-right-radius: 5px; }

.header-row {
  border-radius: 5px;
  height: 20%;
  background: rgba(112, 154, 127, 0.62);
}

.table-img-wrapper {
  position: relative;
  height: 245px;
  width: 320px;

  align-items: center;
  border-radius: 5px;
  background-color: white;
}

.table-img-container {
  margin: 10px;
  position: relative;
}

.content-table-img {
  height: 225px;
  width: 300px;
  border-radius: 5px;
  margin-top: 10px;
}

.image-overlay {
  position:  absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  font-size: 1.5em;
  background-color: rgb(0, 0, 0, 0.4);
  color: white;

  height: 225px;
  width: 300px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.image-overlay:hover {
  opacity: 1;
}

.image-overlay a:link {
  color: white;
  text-decoration: none;
}

.image-overlay a:visited {
  color: white;
  text-decoration: none;
}

/* ARTICLES ------------------------------------------------------ */
.articles-container {
  width: 100%;

  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  transition: 0.25s;
}

.articles-container > div {
  display: flex;
  align-items: center;
  flex-direction: column;

  border-radius: 5px;
  text-align: center;
}

.articles-container > div > h3 {
  padding-top: 10px;
}

.articles-container > div > p {
  min-height:350px;
  text-align: justify;
  padding: 20px;
}

.a-type1 {
  background-color: rgba(238, 226, 110, 0.36);
}
.a-type2 {
  background-color: rgba(146, 197, 232, 0.44);
}
.a-type3 {
  background-color: rgba(196, 175, 109, 0.53);
}

.circle-container {
  border-radius: 50%;
  width: 90px;
  height: 90px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 15px;
}

.type1 {
  background-color: #eee26e;
}
.type2 {
  background-color: #92c5e8;
}
.type3 {
  background-color: #c4af6d;
}

.img-container {
  float: left;
  align-items: center;
}

.article-img {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}

/* FORM ---------------------------------------------------------- */
.form-container {
  height: auto;
  align-items: center;
  border-radius: 5px;
  background: rgba(112, 154, 127, 0.54);
}

.form {
  height: 100%;
  width: auto;
  padding: 3%;
  text-align: left;
}
.dividing-container {
  display: grid;
  grid-gap: 3%;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;

  transition: 0.25s;
}
.form > h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  padding-bottom: 3%;
}

.form-group {
  width: 100%;
  height: 35px;

  margin-bottom: 30px;
}

.form-control {
  height: 35px;
  padding: 8px;
  width: 100%;
  border: none;
}

.form-text {
  height: auto;
  min-height: 100px;
  width: 100%;
  border: none;
}

.form-bottom-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.form-button {
  height: 45px;
  width: 100px;
  border: none;
  border-radius: 5px;

  color: white;
  background-color: #2e4d3b;
}
.form-button:hover {
  filter: brightness(110%);
}

/* REST ---------------------------------------------------------- */
.animal-list {
  margin-left: 20px;
  text-transform: uppercase;
}

.animal-list > li {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* FOOTER -------------------------------------------------------- */
.page-footer {
  height: 30px;
  width: 100%;
  line-height: 30px;

  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  bottom: 0;
  transition: 0.25s;

  text-align: center;
  text-decoration: none;
  color: #3B5943;
  background-color: #709a7f;
}

.page-footer a:link {
  color: #3B5943;
  text-decoration: none;
}

.page-footer a:visited {
  color: #3B5943;
  text-decoration: none;
}

.page-footer a:hover {
  filter: brightness(120%);
}
