@import url('https://fonts.googleapis.com/css2?family=Nunito');

* {
  font-family: "Nunito";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100vw;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.personal-info {
  color: white;
  mix-blend-mode: difference;
}

.hamburger-menu {

}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #616161;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 60px;
  left: -100%;

  width: 25%;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #333;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

/* ---------------------------------------------------------- */

.logo {
  height: 30px;
  width: auto;

}

.section-tittle {
  color: white;
  mix-blend-mode: difference;
  vertical-align: left;
  text-align: left;
}

.articles {
  background-color: #28282c;
  padding: 5%;
  height: 100vh;
}

.info {
  background-color: white;
  padding: 5%;
  height: 100vh;
}

.articles-main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  width: 100%;
  gap: 10px 10px;
}

.articles-container1 {
  width: 100%;
}

.articles-container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 10px 10px;
}

.article-block {
  display: block;
  border-radius: 20px;
  background: linear-gradient(to left, #eea849, #f46b45);
  padding: 15px;
  width: 100%;
  height: 100%;
}

.article-block-right {
  background: linear-gradient(to right, #eea849, #f46b45);
}

.info-block {
  display: block;
  border-radius: 20px;
  background-color: lightgrey;
  padding: 15px;
  width: 100%;
  height: 100%;
}
