@import url('https://fonts.googleapis.com/css2?family=Nunito');

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Nunito";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* MEDIA QUERY ----------------------------------------------------- */
@media screen and (max-width: 1200px) {
  #header-logo {
    display: none;
  }
  .page-content {
    background: linear-gradient(#efefef, #cecece);
  }
}
/* HEADER ---------------------------------------------------------- */
.page-header {
  height: 50px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.25s;

  color: #3B5943;
  background-color: #709a7f;
}

.header-container-left {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.header-container-right {
  margin-right: 10px;
}

.hamburger-button {
  font-size: 30px;
  cursor:pointer;
}

.logo {
  width: 25px;
  height: 25px;
  margin-bottom: 6px;
}

/* SIDE BAR -------------------------------------------------------- */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  padding-top: 10%;
  background-color: #ECEFF1;

  overflow-x: hidden;
  transition: 0.25s;
}

.sidebar a {
  padding: 12px 24px;
  color: #868585;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;

  display: block;
  transition: 0.25s;
}

.sidebar a:hover {
  color: #1f1f1f;
}

.sidebar .close-button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 40px;
}

/* MAIN ---------------------------------------------------------- */
.page-content {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 50px;
  transition: 0.25s;

  background: linear-gradient(#f0f8f4, #c4d5c6);
}

/* FOOTER -------------------------------------------------------- */
.page-footer {
  height: 30px;
  width: 100%;
  line-height: 30px;

  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  bottom: 0;
  transition: 0.25s;

  text-align: center;
  text-decoration: none;
  color: #3B5943;
  background-color: #709a7f;
}

.page-footer a:link {
  color: #3B5943;
  text-decoration: none;
}

.page-footer a:visited {
  color: #3B5943;
  text-decoration: none;
}

.page-footer a:hover {
  filter: brightness(120%);
}
